button{
  /*styled in os x button*/
  background-color:blue;
  color:white;
}
/*Gallery start*/
img {
    width: 250px;
    height: 250px;
}

h2 {
    font-size: 40px;
}

h3{
  font-size: 25px;
}

tr {
    padding-left: 12.5%;
    display: block;
    margin-left: -7%;
}

td {

    padding: 0px auto ;
}

/*End of gallery*/
#Sheet{
    background-color: white;
    max-width: 72rem;
    margin: 100px auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    top: 70%;
    width: calc(100% - 4rem);
    padding: 10px 10px 10px 10px;
}
#Sheet2{
  background-color:white;
  max-width: 100rem;
  margin: 40px auto;
  position: relative;
  z-index: 1;
  top: 70%;
  padding: 10px 10px 10px 10px;
  left:auto;
  opacity:0.7;
}
/*h2, h3, img, hr, p{
  opacity:1.5;
}*/
header {
    text-align: center;
}

h1 {
    position: absolute;
}
/*menu1 start*/
div.menu1 {
    /*background-color: ;*/
    border-radius: 10px;
    opacity: 0.7;
}
li {
    padding: 10px 10px;
    display: inline-block;
    margin-right: 5px;
}

a {
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}
/*end of menu1*/
/* menu2 start */
div.menu2{
 position:fixed;
 top:0px;
 left:0px;
 background-color: blue;
 opacity: 0.7;
}
